<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link href="/css/forms.css" th:href="@{/css/forms.css}" rel="stylesheet" />
    </head>
    <body>

        <header th:insert="fragments/header :: header"></header>

        <div class="container">
            <h2 class="mt-5">Примечания</h2>
            <br>
            <p class="lead">По расчётам</p>
                <p>1. Обязательные для заполнения поля - толщины поясов стенки и диаметр.</p>
                <p>2. Расчёт стенки и днища основывается на геометрических показателях и не учитывает технологические особенности изготовления (наплавленный металл, отходы, др.). Общие массы комплектующих и исходные массы крыши взяты из открытых справочных материалов. Фактическая масса крыши высчитывается обобщённо - как отношение введённой пользователем толщины металла к дефолтной, без учёта типа конструкции (каркасная, самонесущая, щитовая).</p>
                <p>3. При наличии только данных по стенке считается только стенка. При добавлении второго основного элемента (днище или крыша) считается только вес соответствующих двух элементов. При вводе данных по всем трём основным элементам (стенка, днище, крыша) в расчёт автоматически добавляется масса вспомогательных элементов (лестница, площадки, люки, патрубки, каркасы/упаковка), то есть результат выдаёт массу всего резервуара.</p>
                <p>4. Высота каждого пояса принята за 1500 мм. Высота РВС-30000 и 50000 принята за 18 м.</p>
                <p>5. Ширина окрайки днища - 1330 мм. Для резервуаров без окрайки необходимо указывать одинаковую толщину в обоих полях.</p>
                <p>6. Используемые в расчётах толщины кровли по умолчанию:</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;для РВС-50, 100, 200, 2000, 3000, 5000, 10000 - 4 мм,</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;для РВС-300, 400, 500, 700, 20000, 30000, 50000  -  5 мм,</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;для РВС-1000  -  6 мм.</p>
                <p>7. Массы кровли по умолчанию и массы вспомогательных элементов доступны для редактирования через Technical_data.properties</p>
                <br>
                <p>По сервису</p>
                <p>1. Приложение выполнено средствами языка Java. Для запуска необходимо наличие на компьютере пользователя установленной среды исполнeния JRE версии 8 или более поздней. Скачать её можно, например, здесь: https://java.com/ru/download/windows-64bit.jsp  либо через результаты выдачи поисковика.</p>
                <p></p>
                <p></p>

        </div>

        <div th:insert="fragments/footer :: footer"></div>

    </body>
</html>